@tailwind base;
@tailwind components;
@tailwind utilities;


.font-bc-thin {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .font-bc-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .font-bc-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .font-bc {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .font-bc-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .font-bc-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .font-bc-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .font-bc-extrabold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .font-bc-black {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  




  
  .underline-animation {
    position: relative;
    display: inline-block;
  }
  
  .underline-animation::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: -2px; /* Adjust as needed */
    left: 0;
    background-color: currentColor;
    transform: scaleX(0);
    transition: transform 0.3s ease-out;
    transform-origin: center; /* Change transform origin to center */
  }
  
  .underline-animation:hover::before {
    transform: scaleX(1);
  }
  



  .trans-btn {
    transition: width 0.3s;
    width: 200px;

  }
  .trans-btn:hover{
    width: 380px;
    animation: increaseW 0.3s ;

  }

  @keyframes increaseW {
    from{
      width: 200px;
    }
    to{
      width: 380px;
    }
  }



.rotate-animation{
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0%{
    transform: rotate(0deg);
  }
  100%{
    transform: rotate(360deg);
  }
}


@keyframes zoomIn {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.zoom-in {
  animation: zoomIn 0.5s forwards;
}


.no-focus-outline{
  outline: none;
}